.restaurantContainer {
  padding: 20px;
}

.restaurantList {
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.restaurantItem {
  flex: 1 1 calc(25% - 15px);
  max-width: calc(25% - 15px);
  list-style: none;
  width: 100%;
  height: auto;
  max-height: 350px;
  padding: 15px 20px;
  border-radius: 10px;
  border: 2px solid var(--border);
  background-color: var(--card-background);
  box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.2);
  overflow: hidden; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s, box-shadow 0.3s;
}

.restaurantItem:hover {
  transform: scale(1.08);
  box-shadow: 0 10px 20px rgba(0,0,0,0.24);
}
@media only screen and (min-width: 600px) {
  .restaurantItem {
    flex: 1 1 calc(50% - 10px);
    max-width: calc(50% - 10px);
  }
}

@media only screen and (min-width: 900px) {
  .restaurantItem {
    flex: 1 1 calc(33.33% - 10px);
    max-width: calc(33.33% - 10px);
  }
}

@media only screen and (min-width: 1200px) {
  .restaurantItem {
    flex: 1 1 calc(25% - 20px);
    max-width: calc(25% - 14px);
  }
}
.restaurantLink {
  text-decoration: none;
  color: var(--primary);
}
.ctg, .rating, .review {
  font-size: 15px;
  font-weight: 400;
}

.stars {
  gap: 0.2rem;

}

.rating .icon {
  color: gold;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 3px;
  background-color: red;
}
.toggleBtn, .addBtn, .editBtn, .readBtn {
  background-color: var(--primary);
  color: rgb(252, 249, 249);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s, color 0.3s;
}

.toggleBtn:hover, .addBtn:hover, .editBtn:hover, .readBtn:hover {
  background-color: darken(var(--primary), 5%);
  color: black;
}

.btnLink {
  text-decoration: none;
  /* color: inherit; */
}
 